@mixin frame ($wrap, $overflow) {
  display: flex;
  flex-flow: column $wrap;
  max-height: 100vh;
  overflow: $overflow;
  backface-visibility: hidden;
}

@mixin color-box ($justify) {
  @include flex-grid-column(
    $columns: 6,
    $gutter: 0
  );
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: $justify;   
  h2 {
    padding: 0rem 2rem;
  }
}