.home-container {
  height: 100vh;
  @include frame(
    $wrap: nowrap,
    $overflow: hidden
  ); 
  @include flex-grid-row(
    $width: 100%
  );
  @include flex-align(
    $y: middle
  );
}

.binary-colors-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  @include flex-grid-row(
    $width: 100%
  );
}

.binary-container {
  width: 100%;
}

.binary-colors {
  &-left {
    @include color-box(
      $justify: flex-start,
      $color: blue
    );
  }
  &-right {
    @include color-box(
      $justify: flex-end,
      $color: green
    );
  }
}

.binary-header-container {
  width: 100%;  
  @include flex-grid-row(
    $columns: 12,
    $gutter: 0
  );
  h1, p {
    text-align: center;
    @include flex-grid-column(12);    
  }
}

.binary-slider-container {
  width: 100%;
  @include flex-grid-row(
    $columns: 12,
    $gutter: 0
  );
}

.binary-slider {

}

.binary-slider {
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  width: 100%;
  &-handle {
    height: 3rem;
    width: 4rem;
    background-color: white;
  -webkit-box-shadow: 0 8px 5px -6px black;
     -moz-box-shadow: 0 8px 5px -6px black;
          box-shadow: 0 8px 5px -6px black; 
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex: 0 0 50%;
    &-icon {
      align-items: center;
      i {
        margin: auto;
        font-size: 2rem;
      }
    }
  }
  &-word {
    text-align: center;
    @include flex-grid-column(
      $columns: 2
    );
  }
}

.binary-submit {
  margin-top: 2rem;
  text-align: center;  
}